.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  height: 100vh;
}

.recipes__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 580px;
  position: relative;
  top: 50px;
  left: 80px;
}

.recipes__subtitle {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  position: relative;
  top: 24px;
  left: 80px;
  max-width: 438px;
}
.recipes__videos {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 24px;
  flex-direction: column;
}
.recipes__videos-items {
  justify-content: center;
  display: flex;
  gap: 40px;
  margin-top: 40px;
  margin-left: 80px;
}

.recipes__video-caption {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  position: relative;
  justify-content: space-between;
}
