html {
  scroll-behavior: smooth;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", "Arial", sans-serif, "Noto Serif", "Times New Roman",
    serif;
  font-size: 16px;
  line-height: 20px;
  overflow: hidden;
}

.header {
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  position: relative;
  box-sizing: border-box;
}

.nav__links {
  display: flex;
  justify-content: space-between;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.header__nav-logo {
  height: 39px;
  width: 105px;
  position: relative;
  top: 30px;
  left: 30px;
}
.header__nav-list {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  top: 30px;
  right: 80px;
}
.nav__link {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
}
.header__nav-link:hover {
  color: #054fa3;
}

.header__title {
  position: relative;
  left: 80px;
  top: 183px;
  max-width: 709px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
}

.header__span-accent {
  color: #2f80ed;
  display: block;
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  position: relative;
  left: 80px;
  top: 180px;
  max-width: 683px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
}

.header__footer {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  width: 100%;
  position: absolute;
  bottom: 40px;
  left: 80px;
}

.header__paragraph {
  margin: 0;
  padding: 0;
}

.header__paragraph-adress {
  position: absolute;
  bottom: 40px;
  right: 80px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}
.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  height: 100vh;
}

.recipes__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 580px;
  position: relative;
  top: 50px;
  left: 80px;
}

.recipes__subtitle {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  position: relative;
  top: 24px;
  left: 80px;
  max-width: 438px;
}
.recipes__videos {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 24px;
  flex-direction: column;
}
.recipes__videos-items {
  justify-content: center;
  display: flex;
  gap: 40px;
  margin-top: 40px;
  margin-left: 80px;
}

.recipes__video-caption {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  position: relative;
  justify-content: space-between;
}

.reservation {
  border-top: 0;
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 920px;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.reservation__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  position: relative;
  margin: 100px auto 80px auto;
}
.reservation__title-margin {
}

.reservation__form {
  margin: 0 auto;
  max-width: 385px;
  position: relative;
  width: 100%;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 32px;
}
.form__label {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form__input {
  border-radius: 4px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  height: 60px;
  width: 100%;
  box-sizing: border-box;
}

.form__button {
  border-radius: 4px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  height: 60px;
  background-color: #2f80ed;
  color: white;
}
.form__button:hover {
  opacity: 0.7;
}
.form__checkbox {
  border-radius: 2px;
  width: 20px;
  height: 20px;
}
.form__checkbox:checked {
  background-color: #2f80ed;
  background-image: url(../images/check.svg);
}
.form__label-checkbox {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  gap: 12px;
  justify-content: center;
}
.footer {
}
